/* fonts  */


/* General styles  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.2rem;
}

.fondo-nav{
  background: #13151d;
}

/* Header  */
#home{
  background: url(../img/adults-analysis-banking-1451447.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img-header {
  width: 100%;
  height: 600px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding-top: 300px;
}

.img-header h1{
  font-size: 50px;
}

/* Call to action  */
#call-to-action{
  background: #df2176;
}

/* Footer  */
#footer{
  background: #df2176;
}

#footer a{
  text-decoration: none;
  color: #fff;
}
